<div class="container">
    <!-- show any messages that come back with authentication -->
    {{#if message}}
    <div class="row">
        <div class="col">
            <div class="alert alert-danger">
                {{message}}
            </div>
        </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col">
            <form class="form-signin" action="/login" method="POST">
                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72"
                    height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="email" class="sr-only">Email address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required
                    autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
            </form>
        </div>
    </div>
</div>